- @movies.map do |movie|
  - next if movie[:availability].empty?
  .row.movie
    .col-md-2
      = image_tag "#{movie[:movie]["image"]}", style: "width:144px; height:217px;"
    .col-md-10
      %h2
        #{movie[:movie]["title"]}
        <small>#{movie[:movie]["year"]}</small>
      %p= movie[:movie]["description"] == "" ? "No description available" : movie[:movie]["description"]
      %nav
        = link_to "IMDB", movie[:movie]["imdb"]
        = link_to "Rotten Tomatoes", movie[:movie]["rottentomatoes"]
        <span>Available On: </span>
        - movie[:availability].each do |platform|
          = link_to "#{platform[1]['friendlyName']}", platform[1]["direct_url"]
